.article-main {
  background: white;
}
.article-main .article-content .article-title{
  font-size: 40px;
  color: #72120B;
}
.article-main .article-content .article-title:first-line{
  color: #003366;
}
.article-main .article-content .article-line{
  margin: 10px 0 0;
}
.article-main .article-content .article-line .small-line{
  height: 4px;
  width: 80px;
  position: absolute;
  background: #72120B;
}
.article-main .article-content .article-line .big-line{
  height: 4px;
  width: 560px;
  background: #cecece;
}
.article-main .article-content .article-text{
  margin: 10px 0 0;
  font-size: 20px;
  color: #9c9c9c;
}
.article-main .article-content .article-button{
  margin: 20px 0 0;
}
.article-main .article-content .article-button a{
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  background: #72120B;
  border: solid #72120B;
  border-width: 20px 45px;
  border-radius: 10px;
  position: absolute;
}
.article-main .article-content .article-button a:hover {
  font-size: 25px;
}
.article-main .article-img{
  margin: 60px 0;
}