.article-second{
  background: #003366;
}
.article-second .box-main {
  display: flex;
}
.article-second  .box{
  background: #003366;
  border: solid #ffffff33 2px;
  border-radius: 10px;
  width: 330px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px;
  text-decoration: none;
}
.article-second  .box:hover {
  background: #65727e63;
}
.article-second img{
  margin: 20px 0 0;
}
.article-second .text-title{
  color: #ffffff;
  font-size: 25px;
}
.article-second .text-content{
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  line-height: 1.4;
}
.article-second .button{
  margin: 0 0 20px;
}
.article-second .button p{
  color: #ffffff;
  font-size: 20px;
  background: #72120B;
  border: solid #72120B;
  border-width: 20px 45px;
  border-radius: 10px;
}