.footer {
  height: 240px;
  background: #003366;
}
.footer-spacing {
  margin: 20px;
}
.footer-text-spacing {
  margin-bottom: 30px;
}
.footer-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer  .footer-border {
  padding: 0 10px 0 0;
  border: 0;
  border-right: 2px;
  border-style: solid;
  border-color: #ffffff;
}
.footer .footer-text {
  font-size: 20px;
  color: #ffffff;
}
.footer-phone {
  position: relative;
}
.footer-phone::before {
  content: url(../img/telefone-contato.png);
  position: absolute;
  left: -25px;
}
.footer-email {
  position: relative;
}
.footer-email::before {
  content: url(../img/email-contato.png);
  position: absolute;
  left: -30px;
}
.footer-adress {
  position: relative;
}
.footer-adress::before {
  content: url(../img/endereco-contato.png);
  position: absolute;
  left: -30px;
}
.footer .app-phone p {
  position: relative;
  background: #2ba531;
  padding: 20px 10px 20px 30px;
  border-radius: 40px;
  text-align: center;
}
.footer .app-phone p::before {
  content: url(../img/wpp-contato.png);
  position: absolute;
  left: 7px;
}
.footer .app-phone p:hover {
  background: #207e25;
}
.footer .chat p {
  position: relative;
  background: #00b29c;
  padding: 20px 10px 20px 30px;
  border-radius: 40px;
  text-align: center;
}
.footer .chat p::before {
  content: url(../img/chat-contato.png);
  position: absolute;
  left: 7px;
}
.footer .chat p:hover {
  background: #007466;
}