.form-contact {
  background: #ffffff;
}
.form-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.box-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.form-spacing {
  margin: 5px 0;
}
.form-contact  .form-line{
  width: 1200px;
  margin: 20px 0 0;
}
.form-contact  .form-line .small-line{
  height: 4px;
  width: 80px;
  background: #72120B;
  position: absolute;
}
.form-contact  .form-line .big-line{
  height: 4px;
  background: #c3c3c3;
}
.form-contact  p{
  color: #72120B;
  font-size: 50px;
}
.form-contact  p::first-line{
  color: #003366;
}
.form-contact  .form-left{
  width: 550px;
  margin: 0 50px 0 0;
}
.form-contact input[type=text] {
  width: 100%;
  font: 18px 'calibri';
  padding: 19px 20px;
  background: #c3c3c3;
  border-style: solid;
  border-color: #c3c3c3;
  border-radius: 5px;
  margin-bottom: 10px;
}
.form-contact textarea {
  width: 100%;
  height: 174px;
  font: 18px 'calibri';
  padding: 19px 20px;
  background: #c3c3c3;
  border-style: solid;
  border-color: #c3c3c3;
  border-radius: 5px;
}
.form-contact .form-right{
  width: 555px;
}
.form-contact .form-submit{
  margin: 0 0 20px 0;
}
.form-contact input[type=submit] {
  width: 100%;
  padding: 20px 70px;
  background-color: #72120B;
  margin: 0 auto;
  font: 20px 'calibri';
  border-style: solid;
  border-color: #72120B;
  border-radius: 10px;
  font-size: 20px;
  color: #ffffff;
}