.header {
  background: #003366;
  padding: 10px;
}
.header .phone {
  position: relative;
}
.header .phone::before{
  content: url(../img/telefone-contato.png);
  position: absolute;
  left: -25px;
}
.header .email {
  position: relative;
}
.header .email::before {
  content: url(../img/email-contato.png);
  position: absolute;
  left: -25px;
}
.header .app-phone {
  position: relative;
  background: #2ba531;
  padding: 15px 12px 13px 30px;
  border-radius: 40px;
}
.header .app-phone::before {
  content: url(../img/wpp-contato.png);
  position: absolute;
  left: 7px;
}
.header .app-phone:hover {
  background: #207e25;
}
.header .chat {
  position: relative;
  background: #00b29c;
  padding: 15px 12px 13px 40px;
  border-radius: 40px;
}
.header .chat::before {
  content: url(../img/chat-contato.png);
  position: absolute;
  left: 7px;
}
.header .chat:hover {
  background: #007466;
}