@import url(./header.css);
@import url(./menu-main.css);
@import url(./banner-main.css);
@import url(./article-main.css);
@import url(./article-second.css);
@import url(./form-contact.css);
@import url(./footer.css);

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Calibri';
}
a {
    display: inline-block;
}
.spacing {
    margin: 25px 90px 0px;
}
.text-white {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.content {
    margin: 0 auto;
    width: 1200px;
    position: relative;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.google-map {
    height: 450px;
    margin: 0 auto;
    position: relative;
}