.menu-main {
  background: #fff;
  padding: 5px;
}
.menu-nav ul {
  display: flex;
  justify-content: flex-start;
}
.menu-nav ul li{
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  padding: 0px 15px 0px;

}
.menu-nav ul li a{
  color: #000;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px;
  font-family: 'Myriad Pro';
}
.menu-nav ul li a:hover{
  color: #fff;
  background: #003366;
}